$headColor: #2d3950;
$menu: #222222;
$grey1: #999999;
$grey2: #909090;
$blue: #15a4fa;


// common css start
body {
    font-family: 'Lato', sans-serif;
}

// common css end

// header start


header {
    background-color: #f6f9f9;

    nav {
        padding: 30px 0 !important;
    }

    .nav-link {
        padding-left: 47px !important;
        font-size: 23px !important;
        line-height: 44px !important;
        color: #222222 !important;
        transition: all linear .3s;

        &:hover {
            color: $blue !important;
        }
    }
}

// header end



// <!-- banner start  -->
.banner {
    padding-top: 215px;
    padding-bottom: 90px;
    background: url(../images/banner.png);
    background-attachment: fixed;

    .banner-content {
        h1 {
            font-size: 120px;
            letter-spacing: 3px;
            line-height: 47px;
            color: #ffffff;
            font-weight: 700;

        }

        hr {
            width: 600px;
            height: 2px;
            background-color: #15a4fa;
            margin-top: 45px;
            margin-bottom: 16px;
        }

        p {
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 47px;
            color: #ffffff;
            margin-bottom: 44px;
        }

        button {
            padding: 20px 35px;
            border: 1px solid $blue;
            background: transparent;
            font-size: 18px;
            color: #ffffff;
            transition: all linear .3s;
            margin-bottom: 178px;

            &:hover {
                background-color: $blue;
            }
        }

        .arrow {
            svg {
                font-size: 35px;
                letter-spacing: 1px;
                line-height: 47px;
                color: #ffffff;
                transition: all linear .3s;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

// <!-- banner end -->

// <!-- simple start -->
.simple {}

// <!-- simple end -->

// <!-- service start -->
.service {}

// <!-- service end -->

// <!-- portfolio start -->
.portfolio {}

// <!-- portfolio end -->

// <!-- contact start -->
.contact {}

// <!-- contact end -->

// footer start
footer {}

// footer end