$headColor: #2d3950;
$menu: #222222;
$grey1: #999999;
$grey2: #909090;
$blue: #15a4fa;


// common css start
body {
    font-family: 'Lato', sans-serif;
}

// common css end

// header start


header {
    background-color: #f6f9f9;

    nav {
        padding: 30px 0 !important;
    }

    .nav-link {
        padding-left: 47px !important;
        font-size: 23px !important;
        line-height: 44px !important;
        color: #222222 !important;
        transition: all linear .3s;

        &:hover {
            color: $blue !important;
        }
    }
}

// header end



// <!-- banner start  -->
.banner {}

// <!-- banner end -->

// <!-- simple start -->
.simple {}

// <!-- simple end -->

// <!-- service start -->
.service {}

// <!-- service end -->

// <!-- portfolio start -->
.portfolio {}

// <!-- portfolio end -->

// <!-- contact start -->
.contact {}

// <!-- contact end -->

// footer start
footer {}

// footer end