$headColor: #2d3950;
$menu: #222222;
$grey1: #999999;
$grey2: #909090;
$blue: #15a4fa;


// common css start
body {
    font-family: 'Lato', sans-serif;
}

.mt-30 {
    margin-top: 30px;
}


// common css end

// header start


header {
    background-color: #f6f9f9;

    nav {
        padding: 30px 0 !important;
    }

    .nav-link {
        padding-left: 47px !important;
        font-size: 23px !important;
        line-height: 44px !important;
        color: $menu !important;
        transition: all linear .3s;

        &:hover {
            color: $blue !important;
        }
    }
}

// header end



// <!-- banner start  -->
.banner {
    padding-top: 215px;
    padding-bottom: 90px;
    background: url(../images/banner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;

    .banner-content {
        h1 {
            font-size: 120px;
            letter-spacing: 3px;
            line-height: 47px;
            color: #ffffff;
            font-weight: 700;

        }

        hr {
            width: 600px;
            height: 2px;
            background-color: #15a4fa;
            margin-top: 45px;
            margin-bottom: 16px;
        }

        p {
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 47px;
            color: #ffffff;
            margin-bottom: 44px;
        }

        button {
            padding: 20px 35px;
            border: 1px solid $blue;
            background: transparent;
            font-size: 18px;
            color: #ffffff;
            transition: all linear .3s;
            margin-bottom: 178px;

            &:hover {
                background-color: $blue;
            }
        }

        .arrow {
            svg {
                font-size: 35px;
                letter-spacing: 1px;
                line-height: 47px;
                color: #ffffff;
                transition: all linear .3s;

                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

// <!-- banner end -->

// <!-- simple start -->
.simple {
    padding-top: 78px;
    padding-bottom: 105px;
    background-color: #f6f9f9;

    .simple-content {
        h1 {
            font-size: 40px;
            letter-spacing: 1px;
            color: $headColor;
            margin-bottom: 30px;
        }

        p {
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 32px;
            color: $grey1;
            letter-spacing: .1px;
        }
    }
}

// <!-- simple end -->

// <!-- service start -->
.service {
    padding: 65px 0;

    .service-item {
        img {}

        h3 {
            font-size: 22px;
            letter-spacing: 1px;
            color: #2d3950;
            margin-top: 32px;
            margin-bottom: 25px;
        }

        p {
            font-size: 15px;
            line-height: 22px;
            color: #999999;
            letter-spacing: 1.3px;
        }
    }
}

// <!-- service end -->

// <!-- portfolio start -->
.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: #f6f9f9;

    .portfolio-head {
        h1 {
            font-size: 41px;
            letter-spacing: 1px;
            color: $headColor;
            margin-bottom: 22px;
        }

        p {
            font-size: 15px;
            line-height: 23px;
            color: $grey2;
            margin-bottom: 74px;
        }
    }

    .portfolio-gallery {
        position: relative;

        .overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            background-color: #15a2facc;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            transition: all linear .3s;
            align-items: center;

            a {
                border-radius: 10%;
                padding: 15px;
                border: 1px solid white;
                font-size: 15px;
                color: #ffffff;
                margin: 0 5px;

                &:hover {
                    background-color: #fff;
                    color: $blue;
                }
            }
        }

        &:hover {
            .overlay {
                opacity: 1;
                // height: 100%;
            }
        }
    }
}

// <!-- portfolio end -->

// <!-- contact start -->
.contact {
    padding-top: 72px;
    padding-bottom: 110px;
    background: url(../images/contact-background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;

    .contact-content {
        h1 {
            font-size: 41px;
            letter-spacing: 1px;
            color: #ffffff;
        }

        p {
            font-size: 15px;
            line-height: 23px;
            color: #999999;
            margin-top: 23px;
            margin-bottom: 50px;
        }



        input[type=email],
        input[type=text] {
            width: 100%;
            border: none;
            border: 1px solid #999999;
            background: transparent;
            padding: 25px 0;
            border-radius: 2px;
            margin: 10px 0;
            padding-left: 20px;

            &:focus {
                border-color: $blue;
            }
        }

        textarea {
            width: 100%;
            height: 160px;
            border: none;
            border: 1px solid #999999;
            background: transparent;
            border-radius: 2px;
            margin: 10px 0;
            padding-left: 20px;
            padding-top: 25px;
            resize: none;

            &:focus {
                border-color: $blue;
            }
        }

        input[type=checkbox] {
            width: 15px;
            height: 15px;
            border: none;
            // border-radius: 2px;
            // background-color: rgba(246, 249, 249, 0.5411764705882353) !important;
            // border: 1px solid #9aa1ab !important;
        }

        span {
            font-size: 15px;
            color: #ffffff;
        }

        input[type=submit] {
            margin-top: 15px;
            padding: 15px 50px;
            border: 1px solid $blue;
            background: transparent;
            font-size: 18px;
            color: #ffffff;
            transition: all linear .3s;

            &:hover {
                background-color: $blue;
            }
        }
    }
}

// <!-- contact end -->

// footer start
footer {}

// footer end